@model IEnumerable<Models.Category>
@{
    ViewData["Title"] = "Categories";
}
<div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Categories</h1>

    <p>
        <a class="btn btn-primary" aria-controller="Category" asp-action="Create">Create New</a>
    </p>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="w-25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="d-flex flex-row gap-2">
                        <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Category" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
