@using AppRepository.Models;

@model IEnumerable<ProductVeiwModel>

@{
    ViewData["Title"] = "Products";
    var categories = ViewData["Categories"] as List<SelectListItem>;
}

<div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Products</h1>
    <p>
        <a class="btn btn-primary" asp-controller="product" asp-action="create">Create New</a>
    </p>
</div>

<div class="card p-2 my-4">
    @*    @{
    await Html.RenderPartialAsync("_SearchProduct.cshtml", categories);
    }*@
    <form asp-action="Search" asp-controller="Product" asp-route-PageSize="6" method="get">
        <h4>Search Products</h4>
        <div class="d-flex flex-row gap-3 my-3">
            <input class="form-control" name="Name" type="text" placeholder="Name" />
            <input class="form-control" name="Price" type="number" value="0" placeholder="Price" />
            <select class="form-control" name="CategoryID" asp-items="@categories"></select>
        </div>
        <button class="btn btn-primary float-end" type="submit">Search</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductVeiwModel item in Model)
        {
            <tr>
                <td>
                    <div class="d-inline-block text-truncate" style="max-width:10rem">
                        @item.Name
                    </div>
                </td>
                <td>
                    <div class="d-inline-block text-truncate" style="max-width: 20rem">
                        @item.Description
                    </div>
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <div class="d-flex flex-row gap-2">
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
